* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.texture {
  background-image: url('../assets/bg-texture.svg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding: 0 0 calc(100%) 0;
}

.transition-all-05 {
  transition: all 0.5s ease;
}

.main-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: linear-gradient(179deg, rgba(30, 31, 34, 0.9) 0%, rgba(30, 31, 34, 0.9) 37%, rgba(30, 31, 34, 0.9) 47%, rgba(0, 212, 255, 0) 100%)*/
  background: linear-gradient(
    175deg,
    rgba(30, 32, 35, 0.9766107126444328) 0%,
    rgba(30, 32, 35, 0.9766107126444328) 60%,
    rgba(30, 32, 35, 0.4556023092830882) 100%
  );
}

.text-gradient {
  background: linear-gradient(
    132.19deg,
    #ffc010 0%,
    #eba312 48%,
    #d38015 71%,
    #b24f18 99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  background: linear-gradient(
    132.19deg,
    #ffc010 0%,
    #eba312 48%,
    #d38015 71%,
    #b24f18 99%
  );
}

.rotate-div {
  transform: rotate(180deg) !important;
}

.rotate-base {
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}

/*
Animations
*/

.scale-up-hor-center {
  animation: scale-up-hor-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bg-pan-tl {
  background: linear-gradient(to bottom right, #ffc010, #b24f18);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: bg-pan-tl 3s alternate infinite;
}

/**
 * ----------------------------------------
 * scale-up-hor-center
 * ----------------------------------------
 */

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/**
 * ----------------------------------------
 * background top left
 * ----------------------------------------
 */
@keyframes bg-pan-tl {
  from {
    background-position: 100% 100%;
  }
  50% {
    background-position: 60% 60%;
  }
  to {
    background-position: 0 0;
  }
}
