.texture {
  background-image: url("./bg-texture.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding: 0 0 calc(100%) 0;
}

.transition-all-05 { transition: all 0.5s ease; }

.main-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: linear-gradient(179deg, rgba(30, 31, 34, 0.9) 0%, rgba(30, 31, 34, 0.9) 37%, rgba(30, 31, 34, 0.9) 47%, rgba(0, 212, 255, 0) 100%)*/
  background: linear-gradient(175deg, rgba(30,32,35,0.9766107126444328) 0%, rgba(30,32,35,0.9766107126444328) 60%, rgba(30,32,35,0.4556023092830882) 100%);
}

.text-gradient {
  background: linear-gradient(132.19deg, #FFC010 0%, #EBA312 48%, #D38015 71%, #B24F18 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  background: linear-gradient(132.19deg, #FFC010 0%, #EBA312 48%, #D38015 71%, #B24F18 99%);
}
